.Index {
    padding-left: 100px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    overflow: hidden;
}

.player-card-container {
    /* border: 1px solid black; */
    width: 80%;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
    margin-top: 30px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background: url("playercard.png");
    border-radius: 10px;
}

.player-name {
    text-align: center;
    font-size: 25px;
    color: #AE1D1E;
}

.image-container {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
}

.player-image {
    width: 30%;
    /* border: 1px solid black; */
}

.stats-and-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stats-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid black; */
    width: 100%;
    /* height: 100%; */
    /* margin-left: 10%; */
    /* padding-left: 10px; */
}

.player-stats {
    /* border: 1px solid black; */
    width: 90%;
    /* margin-left: 0px; */
    padding-left: 10px;
}

.moreinfo-text {
    color: grey;
}
.moreinfo-text:hover {
    cursor: pointer;
}

.player-add {
    /* margin-top: 50px; */
    /* height: 100%; */
    width: 50%;
    height: 20%;
    margin-top: 5%;
    border: none;
    border-radius: 7px;
    /* background-color: transparent; */
}
.player-add:hover {
    cursor: pointer;
    background-color: transparent;
    outline: 1px solid red;
}

.dreamteam-container {
    font-size: 45px;
    /* border: 1px solid black; */
    padding-left: 17%;
}

.spantext-container {
    margin-top: 10%;
    color: transparent;
}

.span-text {
    font-size: 40px;
    /* font-family: "Montserrat"; */
    font-weight: lighter;
    background: linear-gradient(120deg, #AE1D1E, red);
    -webkit-background-clip: text;
    background-clip: text;
}