/* src/CSS/NavBar.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Evenly space items */
    background-color:#AE1D1E ;
    position: fixed; /* Fixed positioning to stick at the top */
    top: 0; /* Aligns the nav bar at the top */
    left: 0;
    right: 0;
    height: 125px;
    padding: 0 20px; /* Horizontal padding for spacing */
    /* text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);  */
    z-index: 1000; /* Ensures the nav bar stays on top */
    margin: 0;


p {
    color: #FFF;
    text-align: center;
    padding: 12px;
    font-size: 1.05rem;
    margin: 0;
    transition: transform 0.4s ease, color 0.4s ease, text-shadow 0.4s ease, box-shadow 0.4s ease;
    display: inline-block;
    position: relative;
}

p:hover {
    color: #FFF; /* Optional: change text color on hover */
    transform: scale(1.3); /* Slightly enlarge the text */
    text-shadow: 0 0 10px #FFF;
    /* box-shadow: 0 6px 12px rgba(255, 255, 255, 0.4);  */
    z-index: 20;
}

p:active {
    text-shadow: 0 0 15px #FFF;
}

.logo {
    margin-top: 5px;
}


@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    p {
        padding: 10px;
    }
}

}

.navbar-icon {
    border-radius: 100%;
    width: 27%;
}